<nav class="navbar transparent navbar-toggleable-xl navbar-inverse navbar-fixed-top affix">
    <div class="container-fluid">
            <span class="navbar-brand">
                <strong>Profile</strong>
            </span>
    </div>
</nav>
<form class="form-signin">
    <div class="form-group">
        <label for="email" class="lead">Email</label>
        <input type="email" ng-model="profileCtrl.currentUser.email" id="email" class="form-control"
               placeholder="Email Id"
               data-toggle="tooltip"
               title="Enter your email" readonly>
    </div>
    <div class="form-group">
        <label for="firstName" class="lead">First Name</label>
        <input type="text" ng-model="profileCtrl.currentUser.firstName" id="firstName" class="form-control"
               placeholder="First Name"
               data-toggle="tooltip"
               title="Enter your first name" readonly>
    </div>
    <div class="form-group">
        <label for="lastName" class="lead">Last Name</label>
        <input type="text" ng-model="profileCtrl.currentUser.lastName" id="lastName" class="form-control"
               placeholder="Last Name"
               data-toggle="tooltip"
               title="Enter your last name" readonly>
    </div>
    <div class="form-group">
        <label for="lastName" class="lead">Linked Profile: <span
                ng-if="profileCtrl.currentUser.google">Google</span><span ng-if="profileCtrl.currentUser.facebook">Facebook</span></label>
    </div>
</form>