<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="godown-60" id="godown"></div>
<div class="container center-container" ng-controller="UserSearchController as UserSearchCtrl">


        <h2 class="form-signin-heading" id="top">Search User</h2>
        <div ng-show="UserSearchCtrl.error" id="errorMessage" class="alert alert-danger"><strong>{{UserSearchCtrl.error}}</strong>
        </div>
    <div class="row">
        <div class="col-md-4">
        <div class="form-group">
            <input type="text" ng-model="UserSearchCtrl.title" id="title" class="form-control" placeholder="Username"
                   data-toggle="tooltip"
                   title="Enter the username" required autofocus autocorrect="off" autocapitalize="off">
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
        <button class="btn btn-lg btn-block col-md-4" ng-click = "UserSearchCtrl.findUserByUsername(UserSearchCtrl.title)">Search</button>
        </div>
    </div>
    <div ng-show="UserSearchCtrl.user">
        <div class="row">
            <div class="col-md-4">
        <h2> results :</h2>
                <div class="tile">
                    <h3 class="tile-title">{{UserSearchCtrl.user.username}}</h3>
                    <p>{{UserSearchCtrl.user.firstName}} {{UserSearchCtrl.user.lastName}}</p>
                    <div class="profile-userbuttons">

                        <div ng-if="!UserSearchCtrl.user.followed">
                        <button type="button" ng-click="UserSearchCtrl.follow()" class="btn btn-success btn-sm">Follow</button>
                        </div>
                        <div ng-if="UserSearchCtrl.user.followed">
                        <button type="button" ng-click="UserSearchCtrl.follow()" class="btn btn-danger btn-sm">unFollow</button>
                        </div>

                    </div>
                    </br>
                    <a class="btn btn-primary btn-large btn-block" ng-href="#!/user/{{UserSearchCtrl.user._id}}">View {{UserSearchCtrl.user.username}}'s Profile</a>
                </div>

            </div>
        </div>


</div>
<div class="godown-60" id="godown"></div>
<div ng-include="'views/common/templates/footer.view.client.html'"></div>