<div class="container-fluid krish-center-container">

    <nav class="navbar transparent navbar-toggleable-xl navbar-inverse navbar-fixed-top affix">
        <div class="container-fluid">
            <a class="navbar-brand" href="#!/profile"><span
                    class="glyphicon glyphicon-chevron-left pull-left"></span></a>
            <span class="navbar-brand">
                <strong>Websites</strong>
            </span>
            <a class="navbar-brand pull-right" href="#!/website/new"><span
                    class="glyphicon glyphicon-plus"></span></a>


        </div>
    </nav>

    <div class="list-group">
        <div id="top">
            <div ng-show="websiteCtrl.error" class="alert alert-danger krish-alert-style">
                <strong>{{websiteCtrl.error}}</strong></div>
        </div>
        <div ng-repeat="website in websiteCtrl.websites"
             class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="row">
                <div class="col-xs-8 krish-no-wrap-text">
                    <a href="#!/website/{{website._id}}/page" class="krish-white-link">
                        <h4><strong>{{website.name}}</strong></h4>
                    </a>
                </div>
                <div class="col-xs-4">
                    <a href="#!/website/{{website._id}}" class="krish-white-link"><h4><strong><span
                            class="glyphicon glyphicon-cog pull-right"></span></strong>
                    </h4></a>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <p>{{website.description}}</p>
                </div>
            </div>
            <div class="row hidden-xs">
                <div class="col-xs-12">
                    <p><strong>Developer :</strong> {{website._user.firstName}} {{website._user.lastName}}
                        <span class="pull-right"><strong>Created :</strong> {{website.dateCreated | date}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div ng-include="'views/common/footer.view.client.html'"></div>

</div>
