<nav ng-controller="FooterController as footerCtrl"
     class="navbar navbar-inverse navbar-embossed navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-brand pull-left">Copyright @ <a href="https://github.com/krishnakaranam3732"
                                                                                 target="_blank"><i class="fa fa-github"
                                                                                                    aria-hidden="true"></i>
            Krishna Karanam</a></p>
        <div ng-show="footerCtrl.user">
            <a ng-show="footerCtrl.user.roles.indexOf('ADMIN') !== -1" class="navbar-brand pull-right"
               href="#!/userSettings"><i
                    class="fa fa-plus-square-o" aria-hidden="true" data-toggle="tooltip" title="User Management"></i><span
                    class="hidden-xs">&nbsp; Create an Account</span></a>
            <a ng-show="footerCtrl.user.roles.indexOf('ADMIN') !== -1" class="navbar-brand pull-right"
               href="#!/edituserSettings"><i
                    class="fa fa-unlock-alt" aria-hidden="true" data-toggle="tooltip" title="User Management"></i><span
                    class="hidden-xs">&nbsp; Edit Users</span></a>
            <a class="navbar-brand pull-right" href="#!/user/discover/post"><i class="fa fa-globe"
                                                                     aria-hidden="true" data-toggle="tooltip"
                                                                     title="Discover"></i><span
                    class="hidden-xs">&nbsp; Discover Panoramas</span></a>
        </div>
    </div>
</nav>
