<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="godown-60" id="godown"></div>
<div class="container center-container">
    <div class="row">
        <div class="col col-xs-12">
            <img id="img_div" class="img-responsive img-home"
                 src="{{homeCtrl.url}}">
            <a href="#!/discover" class="carousel-caption">
              <h2>Discover the world of photospheres.</h2>
            </a>
        </div> 
    </div>
</div>
<div class="godown-60" id="godown"></div>
<div ng-include="'views/common/templates/footer.view.client.html'"></div>
