<nav class="navbar navbar-inverse navbar-fixed-top user-website-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                <strong>Widgets</strong>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid leave-margin-bottom">

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>


    <div ng-repeat="widget in model.widgets">
        <div class="profile-block">
            <div class="jga-toolbar">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{widget.pageId}}/widget/{{widget._id}}">
                    <span class="glyphicon glyphicon-cog"></span>
                </a>
                <span class="glyphicon glyphicon-align-justify"></span>
            </div>
            <div ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/templates/widget-html.view.client.html'">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                </div>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom user-website-navbar">
    <div class="container-fluid">
        <div class="row">
            <div class="navbar-text pull-left">
                <div class="col-xs-3 text-center">
                    <a href="#">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </div>
                <div class="col-xs-3 text-center">
                    <a href="#">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                </div>
            </div>
            <div class="navbar-text pull-right">
                <div class="col-xs-3 text-center">
                    <a href="#/user/{{model.userId}}">
                        <span class="glyphicon glyphicon-user"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>