<nav class="navbar navbar-inverse navbar-fixed-top user-website-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                <strong>Choose Widget</strong>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="profile-block">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <ul class="list-group">
            <li class="list-group-item borderless list-color">
                <a href ng-click="model.create(model.newWidgetHeader)">Header</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href>Label</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href ng-click="model.create(model.newWidgetHTML)">HTML</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href>Text Input</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href>Link</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href>Button</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href ng-click="model.create(model.newWidgetImage)">Image</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href ng-click="model.create(model.newWidgetYouTube)">Youtube</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href>Data Table</a>
            </li>
            <li class="list-group-item borderless list-color">
                <a href>Repeater</a>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom user-website-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>