<nav class="navbar navbar-inverse navbar-fixed-top user-website-navbar">
    <div class="row container-fluid">
        <div class="col-sm-4 hidden-xs">
            <div class="navbar-text pull-left">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand">
                    <strong>Websites</strong>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/new">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="navbar-text pull-left visible-xs-block">
                <a href="#/user/{{model.userId}}/website">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
            <div class="navbar-text pull-right">
                <a>
                    <span ng-click="model.create(website)" class="glyphicon glyphicon-ok"></span>
                </a>
            </div>
            <div class="navbar-header">
                <a class="navbar-brand no-left-padding no-left-margin">
                    <strong>New Website</strong>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="row container-fluid">
    <div class="col-sm-4 hidden-xs profile-block separation">
        <ul class="list-group">
            <li class="list-group-item borderless list-color">
                <div class="row">
                    <div class="col-xs-6">
                        Name
                        <a>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <span class="pull-right">Edit</span>
                    </div>
                </div>
            </li>
            <li ng-repeat="website in model.websites" class="list-group-item borderless list-color">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}/page">
                            {{website.name}}
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="#/user/{{website.developerId}}/website/{{website._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-sm-8 profile-block">
        <div class="container-fluid">

            <div ng-show="model.error" class="alert alert-danger" role="alert">
                {{model.error}}
            </div>

            <div ng-show="model.message" class="alert alert-success" role="alert">
                {{model.message}}
            </div>

            <div class="form-group">
                <label for="website-name">Website Name</label>
                <input ng-model="website.name"
                       type="text"
                       placeholder="Name"
                       class="form-control"
                       id="website-name"/>
            </div>
            <div class="form-group">
                <label for="website-description">Description</label>
                <textarea ng-model="website.description"
                          rows="3"
                          placeholder="Description"
                          class="form-control"
                          id="website-description"></textarea>
            </div>
            <a ng-click="model.create(website)" class="btn btn-primary btn-block">
                Create
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom user-website-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>