<div class="row">
    <div class="col-xs-12">
        <form id="form">
            <div class="form-group krish-form-group">
                <label for="name" class="lead">Name</label>
                <input type="text" ng-model="widgetEditCtrl.currentWidget.name" id="name" class="form-control"
                       placeholder="Name"
                       data-toggle="tooltip"
                       title="Enter Widget Name" autofocus>
            </div>
            <div class="form-group krish-form-group">
                <label for="text" class="lead">Text</label>
                <input type="text" ng-model="widgetEditCtrl.currentWidget.text" id="text" class="form-control"
                       placeholder="Text"
                       data-toggle="tooltip"
                       title="Enter Widget Text"
                       required>
            </div>
            <div class="form-group krish-form-group">
                <a href ng-click="widgetEditCtrl.deleteWidget()" class="btn btn-lg btn-block krish-cancel"
                   type="submit">Delete</a>
            </div>
        </form>
    </div>
</div>

