<div class="cover-container shr-center-container shr-home-page-center">

    <div class="inner cover">
        
        <p class="lead">Welcome! Please Login or Register</p>
        <p class="lead">
            <a ng-href="#!/login" class="btn btn-lg btn-default">Login</a>
            <a ng-href="#!/register" class="btn btn-lg btn-default">Register</a>
        </p>
    </div>

    <div class="mastfoot">
        <div class="inner">
            <p>Sai Krishna Karanam - Web Developement Summer 2017</p>
        </div>
    </div>

</div>