<div ng-model="widget.text" ng-if="widget.formatted" text-angular ta-toolbar="[['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['wordcount','charcount']]" ta-toolbar-class="form-group krish-form-group btn-toolbar"
     ng-change="widgetCtrl.updateTextWidget(widget)" ng-model-options='{ debounce: 500 }'></div>
<input ng-if="!widget.formatted && (!widget.rows || widget.rows===1)"
       placeholder="{{widget.placeholder}}" class="form-control" ng-model="widget.text"
       ng-change="widgetCtrl.updateTextWidget(widget) ng-model-options='{ debounce: 500 }'"/>
<textarea ng-model="widget.text" ng-if="!widget.formatted && (widget.rows > 1)"
          rows="{{widget.rows}}" placeholder="{{widget.placeholder}}"
          class="form-control" ng-change="widgetCtrl.updateTextWidget(widget)"
          ng-model-options='{ debounce: 500 }'></textarea>
