<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="godown-60" id="godown"></div>

<link rel="stylesheet" href="views/user/templates/MyStylecp.css">


<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id="map"></div>
<div id="pano"></div>
<!-- Replace the value of the key parameter with your own API key. -->
<script>
        var url1 = "views/user/templates/map.js";
        $.getScript(url1);
		var url = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBLcqvq2dDZuDsY2scevFNEr3_yszdzYzQ&libraries=places&callback=initAutocomplete";
        $.getScript(url);
    </script>
	
	

<div class="godown-60" id="godown"></div>
<div ng-include="'views/common/templates/footer.view.client.html'"></div>
