<div ng-include="'views/common/templates/header.view.client.html'"></div>
<div class="godown-60" id="godown"></div>
<div class="container-fluid center-container">
    <div ng-if="!(profileCtrl.currentUser.google || profileCtrl.currentUser.facebook)"
         ng-include="'views/user/templates/profile-local.view.client.html'"></div>
    <div ng-if="profileCtrl.currentUser.google || profileCtrl.currentUser.facebook"
         ng-include="'views/user/templates/profile-auth.view.client.html'"></div>
</div>
<div class="godown-60" id="godown"></div>
<div ng-include="'views/common/templates/footer.view.client.html'"></div>


