<nav class="navbar navbar-inverse navbar-fixed-top user-website-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href=".#/user/{{model.userId}}/website/">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand no-left-padding no-left-margin">
                <strong>Pages</strong>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="profile-block">

        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <ul class="list-group">
            <li class="list-group-item borderless list-color">
                <div class="row">
                    <div class="col-xs-6">
                        Name
                        <a>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </div>
                    <div class="col-xs-3 hidden-xs">
                        Last Updated
                        <a>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </div>
                    <div class="col-xs-2 hidden-xs">
                        Website
                        <a>
                            <span class="glyphicon glyphicon-triangle-top"></span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-1">
                        <span class="pull-right">Edit</span>
                    </div>
                </div>
            </li>
            <li ng-repeat="page in model.pages" class="list-group-item borderless list-color">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">
                            {{page.name}}
                        </a>
                    </div>
                    <div class="col-xs-3 hidden-xs">
                        {{page.update | date}}
                    </div>
                    <div class="col-xs-2 hidden-xs">
                        {{page.websiteId}}
                    </div>
                    <div class="col-sm-1 col-xs-6">
                        <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}">
                            <span class="glyphicon glyphicon-cog pull-right"></span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom user-website-navbar">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>